@page "/Persons"
@attribute [StreamRendering]

<PageTitle>Persons</PageTitle>

<h1>Persons</h1>

<p>This component demonstrates showing data.</p>

@if (Persons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Persons)
            {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.Age</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Person[]? Persons;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        var ages = new[] { 22,22,18,17,1 };
        var names = new[] { "Nicolas", "Keila", "Leo", "Gabriel", "Levi" };
        Persons = Enumerable.Range(1, 5).Select(index => new Person
        {
            Name = names[Random.Shared.Next(names.Length)],
            Age = ages[Random.Shared.Next(ages.Length)]
        }).ToArray();
    }

    private class Person
    {
        public string Name { get; set; } = string.Empty;
        public int Age { get; set; }
    }
}